---
import LoginForm from "../../components/loginForm.astro";
import LoginBackground from "../../layouts/loginBackground.astro";

---

<html lang="en">
	<head>
	</head>
	<body>
		<LoginBackground>
			<LoginForm Heading="Init Login" Action="init-login">
		</LoginBackground>
	</body>
</html>
