---
import LoginForm from "../../components/loginForm.astro";
import LoginBackground from "../../layouts/loginBackground.astro";





---

<html lang="en">
	<head>
	</head>
	<body>
		<LoginBackground>
			<LoginForm Heading="Login" Action="login"/>
		</LoginBackground>
<div>
</div>
	</body>
</html>
